.lmj-categories {
	text-align: center;
	padding-top: 30px;
    /* border: 2px solid red; */
}

.lmj-categories-select {
	margin-right: 15px;
	cursor: pointer;
}

.lmj-categories-btn-reinitialiser {
	cursor: pointer;
}